.basic-info-con{
  width:85%;
  min-width:890px;
  margin-top:20px;
  margin-bottom:20px;
  // border-bottom:1px solid #d5dde2;
}
.basics-rows{
  height:30px;line-height:30px;margin-bottom:15px;
  .basics-rows-l{
    width:50%;float:left;height:30px;
    .text{width:22%;height:30px;line-height:30px;text-align:right;padding-right:8px;float:left;}
    .text + div{height:30px;width:56%;float:left;}
  }
  .basics-rows-r{
    width:50%;float:left;height:30px;
    .r-f{height:30px;float:right;width:56%;padding-right:0px;}
    .text{height:30px;line-height:30px;float:right;width:22%;text-align:right;padding-right:8px;}
  }
}

