.list-top{height:60px;width:100%;}
.list-top ul{height:60px;}
.list-top ul li{display:inline-block;width:70px;height:60px;line-height:60px;margin-right:10px;text-align: left;text-indent: 5px;}
.list-top ul li span{margin-left:10px;}